---
layout: page
---


<div className="About">
  <div className="text-center">
      <img className="Logo" src='/assets/img/searchx_logo.png' alt="SearchX Logo" width="300" /> 
      <div className="Info" >
          <p>
              SearchX is a collaborative search system developed by <a href="http://www.wis.ewi.tudelft.nl"> TU Delft's Web Information Systems group</a>.
              If you have questions or issues please contact <a href="http://www.wis.ewi.tudelft.nl/moraes/">Felipe Moraes</a> at f.moraes@tudelft.nl.
          </p>
  <p> To setup SearchX for your own use check our <a href = "https://github.com/felipemoraes/searchx-frontend/"> frontend </a> and <a href = "https://github.com/felipemoraes/searchx-backend/"> backend </a> Github repositories!
    </p>
       </div>
      <img className="TUDLogo" src='/assets/img/tud_logo.png' alt="TU Delft Logo" width="300"/>
  </div>
</div>